.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-body {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2%;
  align-items: left;
  justify-content: top;
  /* font-size: calc( 5 + 1.5 vmin); */
  font-size: 14px;
  color: #282c34;
}

.App-link {
  color: #9c61fb;
}


.divider {
  height: 1px;
  width: 100%;
  background-color: rgb(158, 158, 158);
}

.overlay-opacity {
  opacity: 0.4;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  position: fixed;
  font-family: Times New Roman

}